{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Add Item
{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<br>
<br>
<div class=" d-flex justify-content-center">
    <div class="card p-3 bg-dark text-light " style="max-width: 500px;">
   
         
            <h1 class="text-center">Add Item</h1>
            <form action="" method="post" class="p-3 mb-2">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <input type="submit" value="Add" class="btn btn-warning btn-sm">
            <a href="{% url 'home'  %}" class='text-warning btn btn-sm btn-outline-light'>back</a>
        </form>
      
             
    </div>
    <br>
    <br>
</div>
<script>

    var name = "{{ user.id }}";
    document.getElementById('username').value=name;
  
  </script>
{% endblock %}