{% extends 'base.html' %}
{% block title %}
savd list
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <br>
    <br>
    <table class='table'> 
        <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Items Name</th>
                <th scope="col">Items Quantity</th>
                <th scope="col">Status</th>
            </tr>

        </thead>
        <tbody>
            {% for item in items %}
            <tr>  
                <th scope="row">{{item.pk}}</th>
                <th scope="row">{{item.item_name}}</th>
                <td>{{ item.item_quantity}}</td>
                <td>
                    {% if item.item_status == 'BUY' %}
                      <span class='text-info'>PENDING</span>     
                  {% endif %}
                  {% if item.item_status == 'BOUGHT' %}
                      <span class='text-success'>BOUGHT</span>     
                  {% endif %}
                  {% if item.item_status == 'NOT-AVAILABLE' %}
                      <span class='text-danger'>NOT-AVAILABLE</span>     
                  {% endif %}

                </td>
              
              </tr>
              {% endfor %}
           
        </tbody>

    </table>

   <h3 class='text-center'><a href="{% url 'export'  %}" class="btn btn-lg btn-primary"><i class="bi bi-printer-fill"> </i>Print List</a></h3>

</div>

{% endblock %}